# OS/IDE junk
.DS_Store
.idea
*.iml
.env

# Maven
target/

# Javascript
dist/
internal-dist/
node/
node_modules/
**/.yarn/install-state.gz
**/.yarn/cache/
javascript-modules-engine/src/main/resources/javascript/
javascript-modules-engine/src/main/resources/META-INF/js/
tests/artifacts/
tests/run-artifacts/
tests/results/
