# OS/IDE junk
.DS_Store
.idea
*.iml

# Maven
target/

# Javascript
dist/
node/
node_modules/
**/.yarn/install-state.gz
**/.yarn/cache/
javascript-modules-engine/src/main/resources/javascript/
javascript-modules-engine/src/main/resources/META-INF/js/
javascript-modules-engine/tests/artifacts/
jahia-test-module/jahia-npm-module-example-v1.0.0.tgz
jahia-test-module/javascript/client/
javascript-modules-engine/tests/results/
javascript-modules-engine/tests/jahia-module/*.tgz
