name: Nightly Tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  integration-tests-standalone:
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        include:
          - jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
            suffix: SN
            catalina_context : '' # Root context
          - jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
            suffix: SN-custom-context
            catalina_context: custom-context
    with:
      jahia_image: ${{ matrix.jahia_image }}
      module_id: javascript-modules-engine
      testrail_project: Javascript Modules Engine
      pagerduty_incident_service: javascript-modules-engine-${{ matrix.suffix }}
      provisioning_manifest: provisioning-manifest-snapshot.yml
      artifact_prefix: tests-${{ matrix.suffix }}
      module_branch: ${{ github.ref }}
      catalina_context: ${{ matrix.catalina_context }}
