name: Nightly Tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  integration-tests-standalone:
    # TODO temp use custom branch for testing
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@feat-pass-catalina-context-as-env-variable
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        include:
          - jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
            suffix: SN
          - jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
            suffix: SN-custom-context
            context: custom-context
    with:
      jahia_image: ${{ matrix.jahia_image }}
      module_id: javascript-modules-engine
      testrail_project: Javascript Modules Engine
      pagerduty_incident_service: javascript-modules-engine-${{ matrix.suffix }}
      provisioning_manifest: provisioning-manifest-snapshot.yml
      artifact_prefix: tests-${{ matrix.suffix }}
      module_branch: ${{ github.ref }}
      catalina_context: ${{ matrix.context }}
