name: Nightly Test run

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  integration-tests-standalone:
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        include:
          - jahia_image: jahia/jahia-ee:8
            incident_service_suffix: RL
          - jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
            incident_service_suffix: SN
    with:
      jahia_image: ${{ matrix.jahia_image }}
      module_id: javascript-modules-engine
      testrail_project: Javascript Modules Engine
      pagerduty_incident_service: javascript-modules-engine-${{ matrix.incident_service_suffix }}
      provisioning_manifest: provisioning-manifest-snapshot.yml
      artifact_prefix: js-eng
      module_branch: ${{ github.ref }}
