# This workflow is triggered every time a change is pushed to any branches
# Github actions command reference: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
name: On Code Change (PR)

# The workflow could also be triggered on PRs
on:
  pull_request:
    types: [opened, reopened, synchronize]

    # Disable the workflow for doc-only changes
    # https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#example-excluding-paths
    paths-ignore:
      - "docs/**"

jobs:
  static-analysis:
    name: Static Analysis (linting, vulns)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jahia/jahia-modules-action/static-analysis@v2
        with:
          node_version: 20
          yarn_version: 4.7.0
          yarn_test_version: 4.7.0
          auditci_level: critical

  build:
    name: Build Module
    runs-on: self-hosted
    env:
      NEXUS_INTERNAL_URL: ${{ secrets.NEXUS_INTERNAL_URL }}
    container:
      image: ghcr.io/jahia/jahia-docker-mvn-cache:17-jdk-noble-mvn-loaded
      credentials:
        username: ${{ secrets.GH_PACKAGES_USERNAME }}
        password: ${{ secrets.GH_PACKAGES_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: jahia/jahia-modules-action/build@v2
        with:
          # the test module is built as part of the Maven build
          tests_module_type: "disabled"
          mvn_settings_filepath: ".github/maven.settings.xml"
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}

  sonar-analysis:
    name: Sonar Analysis
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jahia/jahia-modules-action/sonar-analysis@v2
        with:
          primary_release_branch: main
          github_pr_id: ${{github.event.number}}
          sonar_url: ${{ secrets.SONAR_URL }}
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          mvn_settings_filepath: ".github/maven.settings.xml"
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}

  integration-tests-standalone:
    name: Integration Tests (Standalone)
    needs: build
    runs-on: self-hosted
    strategy:
      fail-fast: false
    timeout-minutes: 45
    steps:
      - uses: jahia/jahia-modules-action/helper@v2
      - uses: KengoTODA/actions-setup-docker-compose@main
        with:
          version: "1.29.2"
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      # Enable corepack, the Node-provided package manager manager
      - run: corepack enable
      - uses: actions/checkout@v4
      - uses: jahia/jahia-modules-action/integration-tests@v2
        with:
          module_id: javascript-modules-engine
          tests_path: "javascript-modules-engine/tests/"
          testrail_project: Javascript Modules Engine
          tests_manifest: provisioning-manifest-build.yml
          jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
          jahia_license: ${{ secrets.JAHIA_LICENSE_8X_FULL }}
          should_use_build_artifacts: true
          github_artifact_name: js-eng-${{ github.run_number }}
          bastion_ssh_private_key: ${{ secrets.BASTION_SSH_PRIVATE_KEY_JAHIACI }}
          docker_registries: |
            [
              {
                "registry": "ghcr.io",
                "username": "${{ secrets.GH_PACKAGES_USERNAME }}",
                "password": "${{ secrets.GH_PACKAGES_TOKEN }}"
              },
              {
                "username": "${{ secrets.DOCKERHUB_USERNAME }}",
                "password": "${{ secrets.DOCKERHUB_PASSWORD }}"
              }
            ]
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}
          tests_report_name: Test report (Standalone)
          testrail_username: ${{ secrets.TESTRAIL_USERNAME }}
          testrail_password: ${{ secrets.TESTRAIL_PASSWORD }}
          incident_pagerduty_api_key: ${{ secrets.INCIDENT_PAGERDUTY_API_KEY }}
          incident_pagerduty_reporter_email: ${{ secrets.INCIDENT_PAGERDUTY_REPORTER_EMAIL }}
          incident_pagerduty_reporter_id: ${{ secrets.INCIDENT_PAGERDUTY_REPORTER_ID }}
          incident_google_spreadsheet_id: ${{ secrets.INCIDENT_GOOGLE_SPREADSHEET_ID }}
          incident_google_client_email: ${{ secrets.INCIDENT_GOOGLE_CLIENT_EMAIL }}
          incident_google_api_key_base64: ${{ secrets.INCIDENT_GOOGLE_PRIVATE_KEY_BASE64 }}
          zencrepes_secret: ${{ secrets.ZENCREPES_WEBHOOK_SECRET }}
        env:
          YARN_VERSION: 4.7.0
          # glob filename, related to the ./artifacts/ folder, to use to fetch the prepackaged site. This jar is generated by the 'build' step.
          # for nightly/manual tests, the prepackaged site is fetched from a Maven repository.
          CYPRESS_PREPACKAGED_SITE_URL: "javascript-modules-samples-hydrogen-prepackaged-*.jar"
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Tests Report (Standalone)
          path: javascript-modules-engine/tests/artifacts/results/xml_reports/**/*.xml
          reporter: java-junit
          fail-on-error: "false"

  # This workflow ensures that Windows builds are exactly the same as on other platforms
  test-on-windows:
    name: Test on Windows
    runs-on: windows-latest
    steps:
      - # https://github.com/actions/checkout/issues/135
        name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: latest
          check-latest: true

      - name: Install and build dependencies
        run: yarn && yarn workspace "@jahia/vite-plugin" build

      - name: Run tests
        run: yarn workspace "@jahia/vite-plugin" test
