# This workflow is triggered every time a change is pushed to any branches
# Github actions command reference: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
name: On merge to main

# The workflow could also be triggered on PRs
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags-ignore:
      - "**"

permissions:
  actions: read
  checks: write
  contents: read
  id-token: write

concurrency:
  # ensure there is at most one execution of this workflow at any time
  # if another workflow is "in progress", the queued workflow will be "pending"
  group: ${{ github.workflow }}-${{ github.ref_name }}

jobs:
  update-signature:
    name: Update module signature
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jahia/jahia-modules-action/update-signature@v2
        with:
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}

  build:
    name: Build Module
    needs: update-signature
    runs-on: self-hosted
    env:
      NEXUS_INTERNAL_URL: https://devtools.jahia.com/nexus/content/groups/internal/
    container:
      image: ghcr.io/jahia/jahia-docker-mvn-cache:17-jdk-noble-mvn-loaded
      credentials:
        username: ${{ secrets.GH_PACKAGES_USERNAME }}
        password: ${{ secrets.GH_PACKAGES_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: jahia/jahia-modules-action/build@v2
        with:
          # the test module is built as part of the Maven build
          tests_module_type: "disabled"
          mvn_settings_filepath: ".github/maven.settings.xml"
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}

  sbom:
    name: SBOM processing
    needs: build
    runs-on: ubuntu-latest
    container:
      image: cyclonedx/cyclonedx-cli:0.24.2
    steps:
      - uses: jahia/jahia-modules-action/sbom-processing@v2
        with:
          dependencytrack_hostname: ${{ vars.DEPENDENCYTRACK_HOSTNAME }}
          dependencytrack_apikey: ${{ secrets.DEPENDENCYTRACK_APIKEY }}
          sbom_artifacts: "build-artifacts"

  integration-tests-standalone:
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    needs: build
    secrets: inherit
    with:
      jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
      module_id: javascript-modules-engine
      testrail_project: Javascript Modules Engine
      module_branch: ${{ github.ref }}
      provisioning_manifest: provisioning-manifest-build.yml
      artifact_prefix: js-eng

  publish:
    name: Publish module
    needs: [integration-tests-standalone]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/jahia/jahia-docker-mvn-cache:17-jdk-noble-mvn-loaded
      credentials:
        username: ${{ secrets.GH_PACKAGES_USERNAME }}
        password: ${{ secrets.GH_PACKAGES_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup .yarnrc.yml file to allow publication to https://registry.npmjs.org with a 'yarn npm publish'
        shell: bash
        run: |
          echo "npmAuthToken: ${{ secrets.NPMJS_PUBLISH_TOKEN }}" >> ~/.yarnrc.yml
      - uses: jahia/jahia-modules-action/publish@v2
        with:
          # the test module is built as part of the Maven build
          tests_module_type: "disabled"
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}
          mvn_settings_filepath: ".github/maven.settings.xml"
